
.diamond {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff ;
}
.card{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff ;
}
