.my-drawer {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar {
  	background-color: #fff;
  	overflow: auto;
  	-webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
  	width: 200px;
  	padding: 0;
}

@font-face {
  font-family: 'iconfont';  /* project id 674894 */
  src: url('//at.alicdn.com/t/font_674894_d42b7sd02k.eot');
  src: url('//at.alicdn.com/t/font_674894_d42b7sd02k.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_674894_d42b7sd02k.woff') format('woff'),
  url('//at.alicdn.com/t/font_674894_d42b7sd02k.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_674894_d42b7sd02k.svg#iconfont') format('svg');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:22px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}